<!-- <div class="container-fluid bg-primary" style="--bs-bg-opacity: .3"> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="bi bi-robot" style="font-size: 2rem; color: cornflowerblue;"></i>LMS
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"  *ngIf="(this.user | async)">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home"><i class="bi bi-house-door" style="font-size: 2rem; color: rgb(45, 51, 179);"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/create-listings"><i class="bi bi-person-add" style="font-size: 2rem; color: rgb(45, 51, 179);"></i>Create Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/listings"><i class="bi bi-search" style="font-size: 2rem; color: rgb(45, 51, 179);"></i>Search Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/my-listings"><i class="bi bi-search" style="font-size: 2rem; color: rgb(45, 51, 179);"></i>My Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/listings"><i class="bi bi-bullseye" style="font-size: 2rem; color: rgb(45, 51, 179);"></i>
              Notifications
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/respond-me"><i class="bi bi-house-door" style="font-size: 2rem; color: rgb(45, 51, 179);"></i>
              Knowledge Base
            </a>
          </li>
       
          <!-- <li class="nav-item">
            <a class="nav-link position-relative" href="listings">Notifications
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                    99+
                    <span class="visually-hidden">unread messages</span>
                  </span>
            </a>
          </li> -->
          
     
      
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <button class="btn btn-outline-primary" type="button" routerLink="/login"  *ngIf="!(this.user | async)">
          Login
        </button>
        

        <!-- <img class="images" [src]="this.photourl"/>
        <button class="btn btn-outline-succes" type="button" (click)="logOut()"  *ngIf="(this.user | async)">
          <i class="bi bi-power" style="font-size: 2rem; color: rgb(45, 51, 179);">{{this.displayname}}</i> 
        </button> -->






        <div class="dropdown  bd-mode-toggle">
          <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
                  id="bd-theme"
                  type="button"
                  aria-expanded="false"
                  data-bs-toggle="dropdown"
                  aria-label="Toggle theme (auto)">
            <!-- <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="this.photourl"></use></svg> -->
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
            <img class="images" [src]="this.photourl"/>
          </button>
          <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false" >
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
               {{this.displayname}}
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false" (click)="logOut()"  *ngIf="(this.user | async)">
                <i class="bi bi-power" style="font-size: 2rem; color: rgb(45, 51, 179);">
               Logout</i>
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
              </button>
            </li>
            <!-- <li>
              <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
              </button>
            </li> -->
          </ul>
        </div>








      </div>
    </div>
  </nav>
  
  <div *ngIf="(this.user | async)">
    <router-outlet></router-outlet>

</div>
<div *ngIf="!(this.user | async)">
  <app-login></app-login>

</div>



<!-- </div> -->
