<div class=" row">
  <div class="col-sm-2">
   Add tag - {{this.tag}}  
  </div>


  <div class="col-sm-5">
    <button type="button" class="btn btn-outline-info" (click)= "addTag('Asp.Net')">Asp.Net</button>
    <button type="button" class="btn btn-outline-info" (click)= "addTag('Java')" >Java</button>
    <button type="button" class="btn btn-outline-info" (click)= "addTag('Angular')">Angular</button>
    <button type="button" class="btn btn-outline-info" (click)= "addTag('Linux')">Linux</button>
    <button type="button" class="btn btn-outline-info" (click)= "addTag('SAS')">SAS</button>
    <button type="button" class="btn btn-outline-info" (click)= "addTag('Python')">Python</button>
      
  </div>
  <div class="col-sm-5">
<button type="button" class="btn btn-outline-info" (click)= "addTag('Sales Force')">Sales Force</button>
<button type="button" class="btn btn-outline-info" (click)= "addTag('Sql')">Sql</button>
<button type="button" class="btn btn-outline-info" (click)= "addTag('SAP')">SAP</button>
<button type="button" class="btn btn-outline-info" (click)= "addTag('Azure')">Azure</button>
<button type="button" class="btn btn-outline-info" (click)= "addTag('Azure')">AWS</button>
<button type="button" class="btn btn-primary" (click)= "resetTag()">Reset</button>
</div>

<div class="row">
  <div class="col-12 d-grid">
  <!-- ** [Only Desktop Mode] Press Spacebar or Shift or Ctrl to start/stop recording.  ** -->
  <button type="button" (click)="startStopRecording();" class="btn btn-outline-success"><i class="bi bi-record-btn" style="font-size: 1rem; color: rgb(229, 229, 236);"></i>{{btnRecordStopText}}</button>
  </div>
</div>

<div class="mb-3">
    <input type="text" [(ngModel)] = "txtInputText" class="form-control" id="txtInputText">
  </div>

  <div class="row">
    <div class="col-6 d-grid">
  <button type="submit" (click)="getdata()" class="btn btn-outline-success"><i class="bi bi-save" style="font-size: 1rem; color: rgb(229, 229, 236);"></i>Respond</button>
</div>
</div>


<!-- <h5 class="mb-1"> Faster Response - {{appendoutput}}</h5>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action" aria-current="true" *ngFor="let kb of knowledgeBaseRelays">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Question - {{kb.Q}}</h5>
      <small></small>
    </div>

      <h5 class="mb-1"> A - {{kb.A}}</h5>
  </a>
</div> -->

<div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <div class="card-header">
    <p class="text-warning bg-dark">Q : {{txtInputText}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text text-info bg-dark"> {{appendoutput}} </p>
  </div>
</div>
