<h3>Post Job List</h3>

<!-- <div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
   Select Listing Id
  </button>
  <ul class="dropdown-menu" >
    <li *ngFor="let listing of listings"><button class="dropdown-item" type="button" [(ngModel)]="questionnaire.listingId" id="listing.listingId">{{listing.listingName}}</button></li>
  </ul>
</div> -->
<select class="form-select" aria-label="ddlListings"  id="listing.listingId" [(ngModel)] = "questionnaire.listingId">
  <option *ngFor="let listing of listings"  [value]="listing.listingId">{{listing.listingName}}</option>
</select>

<div class="container-fluid">
    <div class="mb-3">
        <label for="lblListingName" class="form-label">Listing Name</label>
        <input type="text" class="form-control" [(ngModel)]="questionnaire.questionnaireName" id="txtListingName" placeholder="What is this job role for?">
      </div>


  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)] = "questionnaire.isQuestionnaireManadatory">
      <label class="form-check-label" for="gridCheck">
        Is Active
      </label>
    </div>
  </div>

  <div class="col-12">
    <button type="submit" (click)="saveQuestionnaire(questionnaire)" class="btn btn-primary">Save Questionnaire</button>
  </div>
</div>