

    <div class="row">
      <div class="col-6">
        <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-bg-light">Create Jobs</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Post your Jobs Here</h6>
                      <p class="card-text">Create your job listing here</p>
                      <div class="d-grid">
                        <button routerLink="/create-listings" class="btn btn-success" type="button"><i class="bi bi-person-add" style="font-size: 1rem; color: rgb(229, 229, 236);">&nbsp;Create Job</i></button>
                        </div>
      </div>
    </div>
    </div>
<div class="col-6">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title text-bg-light">Search Jobs</h5>
          <h6 class="card-subtitle mb-2">Start your new job search here!</h6>
          <p class="card-text">Search your jobs</p>
          <div class="d-grid">
            <button routerLink="/listings" class="btn btn-info" type="button"><i class="bi bi-search" style="font-size: 1rem; color: rgb(229, 229, 236);">&nbsp;  Search Job</i></button>
            </div>
        </div>
      </div>
      </div>

</div>
