

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-bg-warning">Schedule for Knowledge Base - Enter Timezone, start date, end date and click Register.</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <p class="card-text">Create your job listing here</p>
        <div class="d-grid">
          <div class="container-fluid">


            <div class="mb-3">
              <label for="lblListingName" class="form-label">TimeZone - Give 1 for cst, 2 for pst, 3 for est</label>
              <input type="text" class="form-control" [(ngModel)]="knowledgeBase.timeZoneId" id="txtTimeZoneId" placeholder="Min Requirement?">
            </div>
        
        
            <div class="row">
              <div class="col-6">
              <label for="lblStartDate" class="form-label">Start Date</label>
              <input type="datetime-local" [(ngModel)] = "knowledgeBase.startDate" class="form-control" id="dtStartDate">
            </div>
            <div class="col-6">
              <label for="lblEndDate" class="form-label">End Date</label>
              <input type="datetime-local" [(ngModel)] = "knowledgeBase.endDate" class="form-control" id="dtEndDate">
            </div>
            </div>
        
        
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="radio" id="gridCheck" [(ngModel)] = "knowledgeBase.isValid">
                <label class="form-check-label" for="gridCheck">
                  Is Valid
                </label>
              </div>
            </div>
            
            <div class="col-12">
              <div class="d-grid">
                <button (click)="registerForKnowledgeBase(knowledgeBase)" class="btn btn-info" type="button"><i class="bi bi-search" style="font-size: 1rem; color: rgb(229, 229, 236);">&nbsp; Register</i></button>
                </div>
            </div>
          </div>
          </div>
</div>
</div>
  </div>
</div>
<hr>


    <div class="row">
      <div class="col-6">
        <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-bg-light">Create Jobs</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Post your Jobs Here</h6>
                      <p class="card-text">Create your job listing here</p>
                      <div class="d-grid">
                        <button routerLink="/create-listings" class="btn btn-outline-info" type="button"><i class="bi bi-person-add" style="font-size: 1rem; color: rgb(229, 229, 236);">&nbsp;Create Job</i></button>
                        </div>
      </div>
    </div>
    </div>
<div class="col-6">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title text-bg-light">Search Jobs</h5>
          <h6 class="card-subtitle mb-2">Start your new job search here!</h6>
          <p class="card-text">Search your jobs</p>
          <div class="d-grid">
            <button routerLink="/listings" class="btn btn-outline-info" type="button"><i class="bi bi-search" style="font-size: 1rem; color: rgb(229, 229, 236);">&nbsp;  Search Job</i></button>
            </div>
        </div>
      </div>
      </div>

</div>

